<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
    <!-- Modal -->
    <div th:fragment="add-event" id="add-event-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="new-event-form" method="post" th:action="@{/events/do-add-events}" th:object="${eventForm}">
                        <div class="form-group">
                            <label for="event-name" class="col-form-label">Event name:</label>
                            <input type="text" class="form-control" id="event-name" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="event-name" class="col-form-label">Event dates:</label>
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" th:field="*{dates}">
                                <span class="input-group-append">
                                    <span class="input-group-text bg-white">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="add-event-btn">Confirm</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div th:fragment="add-section" id="add-section-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create new section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="new-section-form" method="post" th:action="@{/sections/do-add-section}" th:object="${section}">
                        <div class="form-group">
                            <label for="section-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="section-name" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="section-total-row" class="col-form-label">Total row:</label>
                            <input type="number" class="form-control" id="section-total-row" th:field="*{totalRow}">
                        </div>
                        <div class="form-group">
                            <label for="section-total-number-per-row" class="col-form-label">Total number per
                                row:</label>
                            <input type="number" class="form-control" id="section-total-number-per-row" th:field="*{totalNumberPerRow}">
                        </div>
                        <div class="form-group">
                            <label for="section-price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="section-price" th:field="*{price}">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="add-section-btn">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

</script>

</html>