<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sections</title>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
    <div th:replace="fragments/nav :: nav" , th:with="activeLink=${activeLink}"></div>

    <div class="container">
        <div class="card" style="margin-top: 24px;">
            <h5 class="card-header">Select a event</h5>
            <div class="card-body">
                <form th:action="@{/tickets/events}" th:object="${event}" id="ticket-select-event-form" method="post">
                    <div class="form-group">
                        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Event</label>
                        <select th:field="*{id}" id="ticket-select-event" class="custom-select">
                            <option selected value="-1">Please select an event</option>
                            <option th:each="event : ${events}" th:text="|${event.date}  ${event.name}|"
                                th:value="${event.id}"></option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="float-right btn btn-info">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>